body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background: #E7EDF2;

}

#siteTitle {
	width: 100%;
	text-align: center;
	color: #222;
	font: 500 40px/1.2 "DINWeb","Lucida Grande",verdana,sans-serif;
	margin: 12px 0 0 0;
	font-size: -webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#siteSubtitle {
	width: 100%;
	text-align: center;
	font: 500 16px/1.3 "DINWeb","Lucida Grande",verdana,sans-serif;
	margin: 2px 0;
	letter-spacing: 5px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	overflow: hidden;
	min-height: 25px !important;
	max-height: 25px !important;
	color: #5A5A5A;
}

#startupList {
	width: 400px;
	margin: 0 auto;
	padding: 0;
}
.startupTile {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(50,50,50,.15);
	cursor: pointer;
	display: inline-block;
	padding: 6px 16px 20px 16px;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	width: 100%;
	height: 30px;
	float: left;
	margin: 5px 0 0 0;
	vertical-align: top;
	transition: all 180ms ease-out;
	-webkit-transform: translateZ(0) scale(0.88);
	transform: translateZ(0) scale(0.88);
	opacity: 1;
	transform: translateX(-4px) translateY(-6px) translateZ(0);
	font-size: 0.75em;
}

.tile-title {
	font: 500 16px/1.3 "DINWeb","Lucida Grande",verdana,sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	overflow: hidden;
	min-height: 25px !important;
	max-height: 25px !important;
	color: #5A5A5A;
}

.star {
	display: inline;
	float: left;
}

.intro {
	display: inline;
	float: right;
}

.apply {
	position: absolute;
	top: 15px;
	right: 15px;
}


