<!doctype html>
<html ng-app="moves">
    <head>
        <meta charset="utf-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <!--<link href="styles/main.css" rel="stylesheet">-->
        <!-- endbuild -->
        <link href="../styles/tab.css" rel="stylesheet">
    </head>
    <body>
      <div id='siteTitle'>Moves.io</div>
      <div id='siteSubtitle'>Ready to make Moves?</div>

      <div ng-controller="movesController">
        <ul id='startupList' class="unstyled">
          <li class='startupTile' ng-repeat="startup in startupsArray">
            <div class="tile-title">{{startup.get('url')}}</div>
          </li>
        </ul>
      </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/firebase/firebase.js"></script>
        <script src="../bower_components/firebase-simple-login/firebase-simple-login.js"></script>
        <script src="../bower_components/mockfirebase/dist/mockfirebase.js"></script>
        <script src="../bower_components/angularfire/dist/angularfire.min.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/popup.js -->
        <!--<script src="scripts/popup.js"></script>-->
        <!-- endbuild -->
        <script src="https://parse.com/downloads/javascript/parse-1.3.1.min.js"></script>
        <script src="../scripts/moves.js"></script>


    </body>
</html>
